$table-border-color: #d0d0d0;
$soft-ui-color: #b0b0b0;
$ui-highlight-color: rgb(94,9,118);
$ui-highlight-text-color: rgba(109,226,184,1);
$ui-highlight-text-color-faded: rgba(109,225,184,0);

@mixin border($color: $table-border-color) {
    border: 1px solid $color;
}

.app-wrapper {
    margin: 8px 0.5in;
}

h1 {
    font-family: IBM Plex Sans;
    color: #404040;
}

@mixin plainButton() {
    cursor: pointer;
    font-size: 100%;
    font-family: inherit;
    background: inherit;
    border: 0;
    padding: 0;
}

@mixin roundHighlightButton() {
    @include plainButton();
    height: 2em;
    width: 2em;
    border-radius: 100%;
    line-height: 1.4em;
    background: $ui-highlight-color;
}

.table-wrapper {
    display: flex;
    flex-direction: row;
    .add-column {
        order: 1;
        height: 2em;
        margin-left: 10px;
        margin-top: 4px;
        position: relative;
        button.add {
            @include roundHighlightButton();

            &:after {
                text-align: center;
                content: "+";
                color: $ui-highlight-text-color;
            }

            &:disabled {
                background: $soft-ui-color;
                cursor: not-allowed;
                &:after {color: white;}
            }

            &:focus, &::-moz-focus-inner {
                border: none;
                outline: none;
            }
        }

        ul.menu {
            width: 0px;
            height: 0px;
            color: $ui-highlight-text-color-faded;
            overflow: hidden;
            white-space: nowrap;
            margin: 0;
            list-style: none;
            position: absolute;
            top: 0px;
            right: 0px;
            padding: 0px;

            &.expanded {
                width: 10em;
                height: auto;
                background: $ui-highlight-color;
                /* background: rgba(55,55,55,0.5); */
                color: $ui-highlight-text-color;
                border-radius: 1em;
                padding: 1ex;
                transition: width 0.2s ease-in-out, height 0.2s ease-in-out, color 0.2s ease-in-out;

                button.cancel {
                    @include plainButton();
                    position: absolute;
                    right: 10px;
                    top: 7px;
                    &:after {
                        content: "×";
                        color: $ui-highlight-text-color;
                    }
                }
            }

            li {
                font-family: IBM Plex Sans;
                cursor: pointer;

                input {
                    border: none;
                    outline: none;
                    background: inherit;
                    cursor: unset;
                    color: inherit;
                    font: inherit;
                    caret-color: $ui-highlight-color;
                }
            }
        }
    }
}

table {
    order: 0;
    font-family: IBM Plex Sans Condensed;
    border-collapse: collapse;
    thead {
        @include border();
        font-family: IBM Plex Sans;
        color: #404040;
        background: rgba(0,0,0,0.05);
        border-bottom: 2px solid $table-border-color;
        th {
            @include border();
            padding:1ex 2ex;
            cursor: grab;
            /* min-width: 11em; */
            position: relative;

            &:hover .delete {
                cursor: pointer;
                &:after {
                    content:"×"
                }
                position: absolute;
                left: 4px;
                top: calc(50% - 1ex);
                background: $table-border-color;
                width: 1.1em;
                height: 1.1em;
                line-height: 1em;
                border-radius:1.1em;
            }

            .handle {
                height: 100%;
                line-height: 100%;
                vertical-align: top;
                position: absolute;
                right: 4px;
                top: calc(50% - 1ex);
                color: $soft-ui-color;
                &:after {
                    vertical-align: -1px;
                    content:"⣿";
                }
            }
        }
    }
    tbody tr {
        border-bottom: 1px solid $table-border-color;

        td {
            @include border();
            padding: 0.5ex 1.75ex;
            line-height: 1.85em;

            code {
                font-family: IBM Plex Mono;
                background: #DFFFEF;
                padding: 3px 6px;
                border-radius: 3px;
            }
        }
    }
}
